USE [master]
GO
/****** Object:  Database [EBookStore]    Script Date: 01/11/2020 09:13:38 CH ******/
CREATE DATABASE [EBookStore]
GO

USE [EBookStore]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 01/11/2020 09:13:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoaiSach] [char](30) NOT NULL,
	[TenLoaiSach] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 01/11/2020 09:13:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPhanQuyen] [char](20) NOT NULL,
	[TenPhanQuyen] [nvarchar](50) NOT NULL,
	[Info] [ntext] NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 01/11/2020 09:13:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[MaTacGia] [char](30) NOT NULL,
	[GiaBan] [money] NOT NULL,
	[BiaSach] [text] NULL,
	[MaLoaiSach] [char](30) NULL,
	[GioiThieu] [ntext] NULL,
	[LinkPDF] [text] NULL,
	[LinkEPUB] [text] NULL,
	[LinkPRC] [text] NULL,
	[LinkMOBI] [text] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 01/11/2020 09:13:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [char](30) NOT NULL,
	[TenTacGia] [nvarchar](30) NULL,
	[Info] [ntext] NULL,
	[HinhAnh] [text] NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 01/11/2020 09:13:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Nickname] [char](30) NOT NULL,
	[Password] [char](20) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[Birthdate] [date] NULL,
	[DateCreated] [date] NULL,
	[MaPhanQuyen] [char](20) NULL,
	[Phone] [char](11) NULL,
	[Address] [nvarchar](50) NULL,
	[Avatar] [text] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'chinhtri-phapluat             ', N'Chính Trị - Pháp Luật')
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'giaokhoa                      ', N'Giáo Khoa')
INSERT [dbo].[LoaiSach] ([MaLoaiSach], [TenLoaiSach]) VALUES (N'khoahoc-congnghe              ', N'Khoa Học - Công Nghệ')
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenPhanQuyen], [Info]) VALUES (N'Admin               ', N'Quản Trị Viên', NULL)
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenPhanQuyen], [Info]) VALUES (N'Normal              ', N'Người sử dụng', NULL)
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [Info], [HinhAnh]) VALUES (N'adam-khoo                     ', N'Adam Khoo', N'Tôi Tài Giỏi Bạn Cũng Thế', NULL)
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [Info], [HinhAnh]) VALUES (N'daniel-carnegie               ', N'Daniel Carnegiel', N'Đắc Nhân Tâm', NULL)
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [Info], [HinhAnh]) VALUES (N'j.k-rowling                   ', N'J.K.Rowling', N'Harry Potter', NULL)
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_MaPhanQuyen]  DEFAULT (N'Normal') FOR [MaPhanQuyen]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSach] FOREIGN KEY([MaLoaiSach])
REFERENCES [dbo].[LoaiSach] ([MaLoaiSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_PhanQuyen] FOREIGN KEY([MaPhanQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaPhanQuyen])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_PhanQuyen]
GO
USE [master]
GO
