body {
	background-color: #f7f5f5;
}
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: #292929;
}

.modal-backdrop.show {
    opacity: 0.3;
}

ul {
	padding:0;
	margin: 0;
	list-style: none;
}
a:hover {
	text-decoration: none;
}



@keyframes overlay-item-hover {
    from {
        transform: scale(0.5);
    } to {
        transform: scale(1);
    }
}


/* Mobile: width < 740px */
@media only screen and ( max-width : 720px) {
	.modal-content {
		width: 90%;
    	margin: 0 auto;
	}
    .banner-slider {
        display: none;
    }
    .header-menu-bottom-box {
        display: none;
    }
    .container.body_container {
        width: 100%;
    }
    .body-content {
        margin-top: 20px;
    }
    .menu-mobile-tablet {
        display: block;
        position: fixed;
        top: 8px;
        margin-left: 15px;
        z-index: 3000;
        width: 25px;
        height: 30px;
        margin-bottom: 0;
    }
    .menu-mobile-tablet i {
        color: #f7f5f5;
        font-size: 25px;
    }
    .overlay-mobile-tablet {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        animation: slowElement linear 0.2s;
        z-index: 1000;
    }
    .hidden-menu-mobile {
        display: none !important;
    }
    .color-menu-mobile-icon_end {
        color: #000 !important;
    }
    .color-menu-mobile-icon_start {
        color: #fff !important;
    }
    .header-menu_mobile-tablet {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 225px;
        max-width: 100%;
        background-color: #000;
        z-index: 3000;
        transform: translateX(-100%);
        transition: transform linear 0.2s;
        -webkit-transition: transform linear 0.2s;
        -moz-transition: transform linear 0.2s;
        -ms-transition: transform linear 0.2s;
        -o-transition: transform linear 0.2s;
}
    .nav_mobile-tablet-list {
        margin-top: 20px;
        padding-left: 15px;
    }
    .nav_mobile-tablet-list li {
        list-style: none;
    }
    .nav_mobile-tablet-link {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 0;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
    }
    .nav_mobile-tablet-link i {
        color: #fff;
        margin-right: 10px;
    }
    .hidden-mobile-tablet {
        display: none;
    }
    .header-menu-top-box {
        margin: 0;
    }
    .header-menu-logo img {
        margin-bottom: 10px;
        width: 80%;
    }
    .header-menu-logo-list-item.logo-page {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
    }
    .header-menu-logo-list-item a {
        justify-content: center;
    }
    .header-menu-logo-list-item:last-child {
        margin-left:26px;
        margin-top: 25px;
    }
    .header-menu-logo-list-item i {
        font-size: 30px;
    }
    .label-cart {
        width: 20px;
        height: 20px;
        top: -12px;
        font-size: 16px;
        padding: 3px 6px;
        margin-left: -8px;
    }
    .search-item input {
        width: 200px;
    }
    .btn.btn-default {
        margin-left: 5px;
    }
    .show-mini {
        display: none;
    }
    .footer_element:first-child {
        margin: 0;
        text-align: center;
    }
    .footer_element-img-1 {
        width: 80%;
        margin: 30px 0 20px 0;
    }
    .box-product {
        margin-top: 10px;
    }
    .box-product-element {
        height: 332px;
    }
    .box-product-element:hover .box-product-element-overlay {
        display: none;
    }
    .box-product-element:hover .overlay_hover {
        background-color: unset;
        opacity: 1;
    }
    .box-product-element-priceAuthor {
        bottom: 40px;
    }
    .box-product-element-overlay-mobile {
        display: block;
    }
    .product-name h2 {
	    font-size: 13px;
	}
	.product-author {
	    font-size: 12px;
	}
	.price {
	    font-size: 14px;
	}
	.overlay-add-cart-hover-mobile {
	    font-weight: bold;
	    font-size: 14px;
	}
	
    .overlay-add-cart-mobile {
        width: 100%;
        height: 100%;
        display: block;
    }
    .overlay-add-cart-mobile:hover {
        background-color: #54c13b;
    }
    .mobile-category {
        height: 100%;
    }
    .mobile-category-box {
        padding: 5px;
    }
    .list-group {
        flex-direction: unset;
        height: 100%;
        display: flex;
        max-width: 100%;
        overflow-x: auto;
        padding: 0;
    }
    .list-group::-webkit-scrollbar {
        display: none;
    }
    .list-group-item:first-child {
        display: none;
    }
    .list-group-item {
        flex-shrink: 0;
        padding: 0;
        width: 110px;
        height: 50px;
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-right: 10px;
    }
    .list-group-item:nth-last-of-type(3n + 1) {
        background-color: #fac9c9;
    }
    .list-group-item:nth-last-of-type(3n + 2) {
        background-color: #76C9BD;
    }
    .list-group-item:nth-last-of-type(3n + 3) {
        background-color: #ede2a3;
    }
    .list-group-item-link {
        font-size: 14px;
        width: 110px;
        max-height: 50px;
        line-height: 20px;
        display: flex;
        text-align: center;
        font-family: 'Lato',sans-serif;
        align-items: center;
        justify-content: center;
    }
    .list-group-item:hover .list-group-item-link {
        font-size: 14px;
    }
}

/*	Tablet: width >= 720px and width < 1024px	 */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
	.hidden-tablet {
		display: none !important;
    }
    .header-menu-logo-list-item.logo-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
	.banner-slide-box {
   		padding: 0 15px;
    }
    .header-menu-logo-list-item {
        margin-right: 25px;
        font-size: 14px;
    }
    .header-menu-bottom-item {
        padding: 0 5px;
    }
    .header-menu-logo-list-item:nth-child(2) {
        margin-left: 0;
    }
    .header-menu-logo-list-item i {
        font-size: 18px;
    }
    .search-item input {
        width: 150px;
    }
    .header-menu-logo-list-item-cart {
        right: 10px;
        margin: 12px auto;
    }
    .header-menu-bottom-item a {
        font-size: 14px;
    }
    .list-group-item:first-child {
        font-size: 14px;
    }
    .list-group-item i {
        font-size: 15px;
    }
    .list-group-item-link {
        font-size: 14px;
    }
    .show-mini-title {
        font-size: 14px;
    }
    .show-mini-title i {
        font-size: 18px;
    }
    .product-name {
    	height: 36px;
   		line-height: 36px;
    }
    .product-name h2 {
        font-size: 13px;
    }
    .product-author {
        font-size: 12px;
    }
    .price {
        font-size: 14px;
    }
    .box-product-element-overlay-mobile {
        display: block;
    }
	.box-product-element-priceAuthor {
        bottom: 40px;
    }
    .box-product-element {
    	height: 324px;
    }
    .box-product-element:hover .box-product-element-overlay {
        display: none;
    }
    .box-product-element:hover .overlay_hover {
        background-color: unset;
        opacity: 1;
    }
    .overlay-add-cart-mobile {
        width: 100%;
        height: 100%;
        display: block;
    }
    .overlay-add-cart-hover-mobile {
        font-weight: bold;
		font-size: 14px;
    }
    .overlay-add-cart-mobile:hover {
        background-color: #54c13b;
    }
}
